# SPDX-License-Identifier: GPL-2.0

source "virt/kvm/Kconfig"

config KVM_ARM64
	def_tristate y
	prompt "Kernel-based Virtual Machine (KVM) support for arm64 guests"
	select KVM
	select KVM_VFIO
	select IRQ_BYPASS_MANAGER
	select SCHED_INFO
	select XARRAY_MULTI
	select KVM_COMMON
	select HAVE_KVM_CPU_RELAX_INTERCEPT
	select HAVE_KVM_MSI
	select HAVE_KVM_IRQCHIP
	select HAVE_KVM_IRQ_ROUTING
	select HAVE_KVM_VCPU_RUN_PID_CHANGE
	select GUEST_PERF_EVENTS if PERF_EVENTS
	help
	  Support hosting virtualized arm64 guest machines on s390 host machines.

	  If unsure, say N.
